* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.7;

    text-align: center;
    margin: 0 auto;
}

header {
    background-color: #1e3f77;
}

h2 {
    text-align: center;
}

.wrapper {
    max-width: 144rem;
    margin: 0 auto;
}

.navbar {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;

}

.nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 0 2rem;
    color: white;
    font-size: large;
}

.photo-main {
    max-width: 20%;
    position: absolute;
    left: 10%;
    top: 30%;
}

.name-photo {
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.name {
    padding: 5% 0 2% 0;

    font-size: 200%;
}

.container {
    display: grid;
    grid-template-columns: 0.8fr 1.3fr;
    grid-template-rows: 0.6fr 0.6fr;
    gap: 5rem 10rem;
    grid-auto-flow: dense;
    grid-template-areas:
        ". Contacts"
        "About-Me Experience-and-Education"
        "Code-Example Skills";
}

.Contacts {
    grid-area: Contacts;
    text-align: left;
}

.About-Me {
    grid-area: About-Me;
    padding: 0 10rem 0 10rem;
}

.Experience-and-Education {
    grid-area: Experience-and-Education;
    text-align: left;
}

.Code-Example {
    grid-area: Code-Example;
    text-align: left;
}

.Skills {
    grid-area: Skills;
    text-align: left;
}

.logo-rss {
    max-width: 10rem;
    flex-shrink: 0;
}

.logo-rss svg {
    max-width: 10rem;

    width: 100%
}

.footer-icon a {
    color: black;
    padding: 2rem;
}